[Unit]
Description=Obsidian vault sync

[Service]
Type=oneshot
ExecStart=echo "UNDEFINED"

[Install]
WantedBy=default.target
After=network-online.target
Wants=network-online.target
